<div class="header">
  <div class="navbar-beerd">
    <div class="container">
      <div class="d-flex flex-column py-3 flex-md-row align-items-center mb-5">
        <h5 class="my-0 mr-md-auto font-weight-normal">
          <img src="../assets/img/logo@2x.png"
               height="52px">
        </h5>
        <nav class="my-2">
          <a class="p-2 text-dark"
             href="#">Beers</a>
          <a class="p-2 text-dark"
             href="#">Breweries</a>
          <a class="p-2 text-dark"
             href="#">Submit a Find</a>
          <a class="p-2 text-dark"
             href="#">About</a>
          <a class="p-2 text-dark"
             href="#">Contact</a>
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-5">Discovering beer
          <br> just got easier.</h1>
        <button type="button"
                class="btn btn-primary btn-beerd blue mb-5">Learn More</button>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col">
      <h2> You're a couple moments away from getting a beer. </h2>
      <p>Let's start with some basics. By letting us know a bit about your tastebuds, we'll be able to start gathering the information
        we need in order to get you a beer. We may even be able to introduce you to something you've never tried before but
        will love.</p>
      <p>We're a company who likes beer. We help beer lovers like you find your favorite beers and explore new brews, without
        the hassle and wait times of your local pub. And since we sell beer directly, we also save you money.</p>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label class="label-beerd"
                 for="exampleFormControlInput1">What's your favorite beer?</label>
          <input type="text"
                 class="form-control input-beerd"
                 id="exampleFormControlInput1"
                 placeholder="Jane Doe">
        </div>
        <div class="form-group">
          <label class="label-beerd"
                 for="exampleFormControlSelect1">How many times a week do you drink beer?</label>
          <div class="select-box">
            <select class="form-control input-beerd"
                    id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </form>
      <button type="button"
              class="btn btn-danger btn-beerd red mb-2">Get Advice</button>
      <button type="button"
              class="btn btn-primary btn-beerd blue mb-2">Get a Beer</button>
    </div>
  </div>
</div>
<div class="grey-bg">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 text-center">
        <h3>What makes us different?</h3>
        <span class="h3-sub">We're focused on the needs of beer lovers.</span>
      </div>
      <div class="col-12 tile-box py-4">
        <div class="row">
          <div class="col tile">
            <p class="tile-heading">Direct to You</p>
            <img class="tile-icon"
                 src="../assets/icons/icon-direct-to-you@2x.png" />
            <p class="tile-text"> So we can dramatically lower the cost of your beer without compromising quality.</p>
          </div>
          <div class="col tile">
            <p class="tile-heading">Pub-less</p>
            <img class="tile-icon"
                 src="../assets/icons/icon-pub-less@2x.png" />
            <p class="tile-text"> We're a 21st century company designed to support your digital mobile lifestyle.</p>
          </div>
          <div class="col tile">
            <p class="tile-heading">Peace of Mind</p>
            <img class="tile-icon"
                 src="../assets/icons/icon-peace-of-mind@2x.png" />
            <p class="tile-text"> We've partner with the best micro-breweries with decades of experience. </p>
          </div>
          <div class="col tile">
            <p class="tile-heading">Expert Advice</p>
            <img class="tile-icon"
                 src="../assets/icons/icon-expert-advice@2x.png" />
            <p class="tile-text"> We know beer best. We understand how to match you with the right beer at the right price.</p>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="button"
                class="btn btn-danger btn-beerd red">Learn More</button>
      </div>
    </div>
  </div>
</div>
<div class="dark-bg">
  <footer class="container">
    <div class="row">
      <div class="col text-left">
        <p> 12345 Fremont Ave., Suite 1001,
          <br> Seattle, WA 98100</p>
        <p class="muted"> Copyright © 2013 Beer'd, Inc.</p>
      </div>
      <div class="col text-right">
        <img src="../assets/img/footer-graphic@2x.png"
             height="72px" />
      </div>
    </div>
  </footer>
</div>
